/* ClientList.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 70px;
    padding: 10px;
}

.grid-item {
    display: flex; /* Ensures content in grid-item is aligned */
    align-items: center; /* Vertically centers the content */
    justify-content: start; /* Aligns content to the start */
    overflow: hidden; /* Prevents content from overflowing */
}

.grid-item img {
    width: 20px;
    height: auto;
    margin-right: 5px; /* Adds a little space after the image */
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .grid-heading, .grid-item {
        text-align: left;
        padding: 1rem;
    }
}
