/* Existing styles for larger screens */
.grid-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* ClientList.css */

.grid-item img {
    width: 20px; /* Adjust size as needed */
    height: auto;
    /* Add any additional styling here */
  }
  


/* Responsive styles for mobile screens */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .grid-heading, .grid-item {
        text-align: left; /* Adjust text alignment as needed */
        padding: 1rem; /* Adjust padding as needed */
    }
}
