.layout-container {
    display: flex; /* Use Flexbox */
    align-items: start; /* Align items to the start of the container */
}

.Navbar {
    flex: 1; /* Takes up 1 portion of the space */
    /* Add any additional styling for your navbar here */
}

.ClientList {
    flex: 3;
    padding: 10px;
    margin: 10px;

}

.Map {
    flex: 1; /* Takes up 2 portions of the space, making it larger than the navbar */
    /* Add any additional styling for your map here */
}

/* Layout.css */

.Map {
    position: relative;
    /* Other styling for your map */
  }
  
  .HeadingMap {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 30%; /* Adjust as needed */
    z-index: 10; /* Ensure it's above the map */
    color: rgb(74, 18, 18); /* Or any color that contrasts well with your map */
    background-color: rgba(255, 255, 255, 0.5); /* Optional: for better visibility */
    padding: 5px; /* Optional, for styling */
    border-radius: 5px; /* Optional, for styling */
  }

  .layout-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin-top: 20px; /* Adjusts the top margin */
    text-align: center; /* Centers the heading text */
}



  


