/* Navbar.css */
.navbar {
  height: 100vh;
  width: 250px;
  position: static; /* Changed from static */
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #333;
  padding: 10px; 
  transition: all 0.5s ease;
}

.navbar.active {
  transform: translateX(0); /* Ensure it's fully visible */
  opacity: 1;
}

.navbar.inactive {
  width: 250px; /* Keep the width the same to maintain structure */
  opacity: 0;
  transform: translateX(-100%); /* Moves it off-screen */
  overflow: hidden;
}

/* ... rest of your styles ... */

.toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  /* Additional styling as needed */
}
.nav-item a {
  color: white; /* Sets default link color to white */
  text-decoration: none; /* Optional */
}

.nav-item a:visited {
  color: lightblue; /* Color for visited links */
}

.nav-item a.active {
  color: lightblue; /* Color for active link */
}

.navbar ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  width: 200px; /* Adjust the width as needed */
  /* Additional styling as needed */
}

.navbar ul li {
  display: block; /* Each item takes up the full width of the <ul>, resulting in a vertical list */
  margin-bottom: 10px; /* Adds some space between the items */
  /* Additional styling as needed */
}

/* Additional styles for links if needed */
.navbar ul li a {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Sets text color */
  display: block; /* Makes the entire area of the list item clickable */
  padding: 5px; /* Adds padding for better clickability and visual appeal */
}
