/* Navbar.css */
.navbar {
  height: 100vh;
  width: 250px;
  position: relative; /* Changed from static */
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #333;
  padding: 10px; 
  transition: transform 0.5s ease, opacity 0.5s ease; 
  /* Smooth transitions for transform and opacity */
}

.navbar.active {
  transform: translateX(0); /* Ensure it's fully visible */
  opacity: 1;
}




.toggle-button {
  position: absolute; /* Keep the button fixed relative to the viewport */
  top: 0.1rem;
  padding: 10px; /* Adjust vertical position as needed */
  z-index: 2;
  left: 0; /* Ensure it's above other elements */
  transition: left 0.5s ease; /* Smooth transition for horizontal movement */
  /* Additional styling as needed */
}



/* Move the toggle button to the right when the navbar is active */
.navbar.active + .toggle-button {
  left: 250px; /* Adjust to the width of the navbar */
}

.navbar.inactive {
  width: 250px; /* Keep the width the same to maintain structure */
  opacity: 0;
  transform: translateX(-100%); /* Moves it off-screen */
  overflow: hidden;
}

.navbar.active + .toggle-button {
  left: 250px; /* Move the button to the right by the width of the navbar */
}


.nav-item {
  color: rgb(3, 146, 249); /* Sets default link color to white */
  text-decoration: none; /* Optional */
}
.nav-item a {
  color: white; /* Sets default link color to white */
  text-decoration: none; /* Optional */
}

.nav-item a:visited {
  color: lightblue; /* Color for visited links */
}

.nav-item a.active {
  color: lightblue; /* Color for active link */
}

.navbar ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin-top: 5rem; /* Removes default margin */
  width: 200px; /* Adjust the width as needed */
  /* Additional styling as needed */
}

.navbar ul li {
  display: block;
 
   /* Each item takes up the full width of the <ul>, resulting in a vertical list */
  margin-bottom: 10px; /* Adds some space between the items */
  /* Additional styling as needed */
}

/* Additional styles for links if needed */
.navbar ul li a {
  text-decoration: none; /* Removes underline from links */
  color: rgb(56, 126, 246); /* Sets text color */
  display: block; /* Makes the entire area of the list item clickable */
  padding: 5px; /* Adds padding for better clickability and visual appeal */
}

.BottomMenu {
  position: fixed;
  bottom: 3rem;
  left: 0;
  width: 100%;

}
